<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <context:component-scan base-package="com.bgamq.springboot"/>

    <context:annotation-config/>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.bgamq.springboot.mapper"/>
    </bean>


    <bean id="user" class="com.bgamq.springboot.entity.User">
        <property name="id" value="1"/>
        <property name="name" value="张斌"/>
    </bean>

</beans>